
.bottomTabs {
  display: grid;
  grid-column: 5;
  height: 2.4rem;
  height: 6rem;
  padding-top: 0.5rem;
  padding-bottom: 0.75rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  gap: 2rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  &__item {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    justify-content: space-between;
    align-items: center;
    &__active {
      border-top-width: 1px;
      border-top-color: #3b82f6;
      color: #3b82f6;
    }
    &__grey {
      color: grey;
      font-weight: 800;
    }
  }
}
